<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/categories/essays">Essays</a></li>
  <li><a href="{{ root_url }}/blog/categories/philosophy">Philosophy</a></li>
  <li><a href="{{ root_url }}/blog/music">Music</a></li>
  <li><a href="{{ root_url }}/blog/categories/listening">Listening</a></li>
  <li><a href="{{ root_url }}/blog/categories/photography">Photography</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/about">About</a></li>
</ul>
