{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<!-- START OF _layouts/default.html -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.title }}" name="author">
    
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
    <link href="{{ root_url }}/myfavicon.png" rel="icon">
    <!-- Styles -->
    <link href="{{ root_url }}/stylesheets/main.css" rel="stylesheet">
    
    <!-- Google webfonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cousine">
    
    <!-- jQuery and plugins -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ root_url }}/js/jquery.zclip.min.js"></script>

    <!-- serial scroll -->
    <script src="{{ root_url }}/js/jquery.scrollTo.min.js"></script>
    <script src="{{ root_url }}/js/jquery.serialScroll.min.js"></script>
    
    <!-- Syntax highlighter -->
    <link href="{{ root_url }}/stylesheets/prettify-hemisu.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ root_url }}/js/prettify.js"></script>
    {% include google_analytics.html %}

    <script src="{{ root_url }}/js/footnote.js" type="text/javascript"></script>

    <!-- SNOWSTORM-->
    <script src="{{ root_url }}/js/snowstorm-min.js"> </script>

    <!-- snowstorm options -->
    <script type="text/javascript">
      snowStorm.autoStart = false;
      snowStorm.snowColor = '#78B0F6';   // blue-ish snow!?
      snowStorm.flakesMaxActive = 96;    // show more snow on screen at once
      snowStorm.useTwinkleEffect = true; // let the snow flicker in and out of view
      snowStorm.vMaxX = 5;
      snowStorm.vMaxY = 3;
      snowStorm.toggleSnow();
    </script>

    <script src="/js/background.js" type="text/javascript"></script>
    <script src="/js/serialscroll.js" type="text/javascript"> </script>
    <script type="text/javascript">
      jQuery(window).load(function () {
        var new_height = jQuery(".inner-scroll").children().first().height();
        jQuery(".outer-scroll").css("height", new_height + "px");
      });

      jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > 353) {
          jQuery('.whitespace').css('position', 'fixed');
          jQuery('.whitespace').css('top', '0px');
        } else {
          jQuery('.whitespace').css('position', 'absolute');
          jQuery('.whitespace').css('top', '353px');
        }
      });
    </script>

  </head>

  <body onload="prettyPrint()">

    <div class="bg">
      <div class="bg-normal"></div>
      <div class="bg-blur"></div>
    </div>

    <div class="whitespace"></div>

    <div class="wrap">
      <header>
        <div class="title"><a class="blogtitle" style="color:white;" href="{{ root_url }}/">{{ site.title }}</a></div>
        
        <div class="navi">
          <ul>
            <li><a href="{{ root_url }}/">Blog</a></li>
            <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
            <li><a href="{{ root_url }}/about">About</a></li>
          </ul>
        </div> <!-- // .navi -->

        {% if page.url == "/index.html" %}
          <div class="scroll-navi" style="color: white">
            <a href="" class="prev">←</a>
            <a style="cursor: default; font-size: 20px; position: relative; top: -3.5px;"
            href="javascript:;" onclick="snowStorm.toggleSnow(); return false;">♦</a>
            <a href="" class="next">→</a>
          </div>
        {% endif %}
      </header>
      <section class="outer-scroll">
        <section class="inner-scroll">
    
        {{ content | expand_urls: root_url }}

        </section>

      </section>
    
      <footer>
        {% include footer.html %}
      </footer>
      
    </div> <!-- // .wrap -->
  </body>
  <script>
    jQuery(document).ready(function($) {
      // Make images center
      $('p:has(img)').css('text-align', 'center');
      
      // Add the image's title attribute as a caption
      // $('p:has(img)').append(function () {
      //  return '<div class="caption">' + $('img', this).attr('title') + '</div>';
      // });
      
      // Prettify code
      $('code').addClass('prettyprint');
      $('pre code').addClass('linenums');
      
      // Copy to clipboard with button
      $('pre:has(code)').prepend(function(){
        return '<div class="clip-btn">copy to clipboard</div>';
      });
      $('.clip-btn').zclip({
        path:'{{ root_url }}/js/ZeroClipboard.swf',
        copy: $(this).next('code').text(),
        afterCopy: function(){
          $(this).replaceWith('<div class="clip-btn">copied!');
          }
      });
    });
  </script>
</html>
<!-- END OF _layouts/default.html -->
